.finder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #e7e7e7;
  padding: 1vw;
  overflow-x: hidden;
}

.finder_content {
  width: 92.5vw;
  height: 79vh;
  display: flex;
  margin-top: 1vh;
  overflow-y: auto;
  overflow-x: hidden;
  div {
    margin-bottom: 20px;
  }
}

.loader {
  width:100px;
  height: 100px;
  background-color: goldenrod;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
  overflow: hidden;
  margin: 0 auto;
  top: 300px;

  :before, :after {
    content:'';
    position: absolute;
    width:100px;
    height: 100px;
    top:-37.5px;
    background-color: #fff;
  }

  :before {
    border-radius: 45%;
    background:rgba(255,255,255,.7);
    animation:wave 5s linear infinite;
  }

  :after {
    border-radius: 35%;
    background:rgba(255,255,255,.3);
    animation:wave 5s linear infinite;
  }
}

@keyframes wave{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.pagination {
  top: 160px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
  }
}

.pagination_wrapper {
  width: auto;
  height: 25px;
}

.previous a {
  border: solid #808080;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
  outline: none;
  transition: all 0.25s;
}

.next a {
  border: solid #808080;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
  outline: none;
  transition: all 0.25s;
}

.previous-link:hover {
  border-color: #0064eb;
}

.next-link:hover {
  border-color: #0064eb;
}

.active {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0064eb;
  border-radius: 3px;
  user-select: none;
  cursor: none;
  transition: all 0.25s;
}

.active_link {
  color: #ffffff;
}

.pagination_page {
  min-width: 23px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: #808080;
  margin: 0 5px;
}

.pagination_page a {
  outline: none;
  text-decoration: none;
}

.disabled {
  cursor: none;
  color: rgba(128, 128, 128, 0.37);
}