.footer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  height: 8%;
  max-height: 80px;
  min-height: 40px;
  background: goldenrod;
}

.footer_credits {
  margin-left: 20px;

  a {
    text-decoration: none;
  }
}

.finder_content {
  display: flex;
  flex-wrap: wrap;

}
